page-category-products {
    ul {
        padding: 0px;
        &.rating li {
            padding: 5px 5px !important;
            background: none;
            color: #ffb400;
            ion-icon {
                font-size: 1.5rem;
            }
        }
    }
    .item {
        color: #333 !important;
    }   

    // This CSS add to set product Images and Description inside ion-card on 01/09/2018

    #productdec{
        padding: 0px !important;
    }

    .card-md {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 5px;
        height: 97%;
    }
    .card-content-md {
        padding: 0px 15px;
        font-size: 1.4rem;
        line-height: 1.5;
    }
    .product .card-title-md{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .discount-off {
        padding: 2px;
    }
    
    #offerimg{
        max-width: 60%;
    }

    #vegimg{
        max-width: 13%;
        margin-top: -21px;
    }
    // -------------------------------------
}