<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
    <ion-navbar>

        <button start ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title text-center>
            <img src="assets/imgs/logo.png" width="100" height="50">
        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="goToSearch()">
                <ion-icon name="search"></ion-icon>
            </button>                       
            <button ion-button icon-only (click)="goTocart()">
                <ion-icon name="cart"></ion-icon>
            </button>
            <button ion-button icon-only (click)="presentActionSheet($event)">
                <ion-icon name="share"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>

<ion-content #pageContent fullscreen>
    
    <!-- <div class="offer">
        <h1>get 15% off* on all products</h1>
        <p>*For limited time only*</p>
    </div> -->

    <div class="banner">
        <ion-slides pager>
            <div *ngFor="let slider of sliderChild">                
                <ion-slide class="banner-slide" (click)="getCategoryDetail(slider)">
                    <img src="{{slider.image}}" />
                </ion-slide>
            </div>
        </ion-slides>
    </div>

    <div class="padding">
        <div *ngFor="let deal of dealChild" (click)="getCategoryDetail(deal)">
            <img src="{{deal.image}}" class="img-responsive">
        </div>
    </div>

    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <div *ngFor="let ban1 of ban1Child" (click)="getCategoryDetail(ban1)">
                    <img src="{{ban1.image}}" class="img-responsive">
                </div>
            </ion-col>
            <ion-col col-6>
                <div *ngFor="let ban2 of ban2Child" (click)="getCategoryDetail(ban2)">
                    <img src="{{ban2.image}}" class="img-responsive">
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="padding">
        <div *ngFor="let hzBan1 of hzBan1Child" (click)="getCategoryDetail(hzBan1)">
            <img src="{{hzBan1.image}}" class="img-responsive">
        </div>
    </div>

    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <div *ngFor="let ban3 of ban3Child" (click)="getCategoryDetail(ban3)">
                    <img src="{{ban3.image}}" class="img-responsive">
                </div>
            </ion-col>
            <ion-col col-6>
                <div *ngFor="let vdBan of vdBanChild" (click)="getCategoryDetail(vdBan)">
                    <img src="{{vdBan.image}}" class="img-responsive">
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="padding">
        <div *ngFor="let hzBan2 of hzBan2Child" (click)="getCategoryDetail(hzBan2)">
            <img src="{{hzBan2.image}}" class="img-responsive">
        </div>
    </div>

    <div class="social-message">
        <ion-grid>
            <ion-row>
                <ion-col text-center class="line">
                    <h1>Follow Us on Facebook</h1>
                    <img src="assets/icon/social/facebook.svg" class="img-responsive icon" (click)="followFacebook()">
                </ion-col>
                <ion-col text-center>
                    <h1>Follow Us on Instagram</h1>
                    <img src="assets/icon/social/instagram.svg" class="img-responsive icon" (click)="followInstagram()">
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>