<ion-header>
    <ion-navbar hideBackButton>
        <ion-buttons left>
            <button ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            {{heading_title}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-content>

        <form [formGroup]="passwordForm">
            <div text-center>
                <p ion-text color="danger" *ngIf="submitAttempt && error">{{error}}</p>
                <p ion-text color="secondary" *ngIf="submitAttempt && success">{{success}}</p>
            </div>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label floating>Current Password</ion-label>
                            <ion-input formControlName="currentpassword" type="password" [class.invalid]="!passwordForm.controls.currentpassword.valid && (passwordForm.controls.currentpassword.dirty || submitAttempt)"></ion-input>
                        </ion-item>
                        <p class="invalid-message" *ngIf="!passwordForm.controls.currentpassword.valid  && (passwordForm.controls.currentpassword.dirty || submitAttempt)">{{error_currentpassword}}</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label floating>Password</ion-label>
                            <ion-input formControlName="password" type="password" [class.invalid]="!passwordForm.controls.password.valid && (passwordForm.controls.password.dirty || submitAttempt)"></ion-input>
                        </ion-item>
                        <p class="invalid-message" *ngIf="!passwordForm.controls.password.valid  && (passwordForm.controls.password.dirty || submitAttempt)">{{error_password}}</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label floating>Confirm Password</ion-label>
                            <ion-input formControlName="confirm" type="password" [class.invalid]="!passwordForm.controls.confirm.valid && (passwordForm.controls.confirm.dirty || submitAttempt)"></ion-input>
                        </ion-item>
                        <p class="invalid-message" *ngIf="!passwordForm.controls.confirm.valid  && (passwordForm.controls.confirm.dirty || submitAttempt)">{{error_confirm}}</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>

        <div padding>
            <button ion-button color="primary" block (click)="save()">Update</button>
        </div>
    </ion-content>