<ion-header>
    <ion-navbar hideBackButton>
        <ion-buttons left>
            <button ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            {{heading_title}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="products?.length">
        <ion-card *ngFor="let product of products;">
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col col-8>
                            <h3 [innerHTML]="product.name"></h3>
                            <p>{{product.model}}</p>
                            <p>
                                {{product.total}} = {{product.quantity}}*{{product.price}}
                            </p>
                        </ion-col>
                        <ion-col col-4>
                            <ion-buttons end>
                                <button ion-button color="secondary" icon-only (click)="edit(product)">
                                    <ion-icon name="ios-create-outline"></ion-icon>
                                </button>
                                <button ion-button color="danger" icon-only (click)="remove(product)">
                                    <ion-icon name="ios-trash-outline"></ion-icon>
                                </button>
                            </ion-buttons>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-card-content>
        </ion-card>
        
        <cart-summary></cart-summary>
        <cart-terms></cart-terms>

        <div padding>
            <button ion-button block [disabled]="!hasProducts" color='secondary' (click)="goToCheckout()">Checkout</button>
        </div>
    </div>

    <div *ngIf="!products?.length" text-center>
        <h2>Cart is empty</h2>
        <button ion-button (click)="goToHome()">Shop Now</button>
    </div>

</ion-content>