<ion-header>
    <ion-navbar hideBackButton>
        <ion-buttons left>
            <button ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            {{heading_title}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>

    <div *ngIf="products?.length">
        <ion-card *ngFor="let product of products;">

            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col col-8>
                            <h3 [innerHTML]="product.name"></h3>
                            <p>{{product.model}}</p>
                            <p>{{product.stock}}</p>
                            <p>{{product.price}}</p>
                        </ion-col>
                        <ion-col col-4>
                            <ion-buttons end>
                                <button ion-button color="secondary" icon-only (click)="viewProductDetail(product)">
                                    <ion-icon name="ios-eye-outline"></ion-icon>
                                </button>
                                <button ion-button color="danger" icon-only (click)="remove(product)">
                                    <ion-icon name="ios-trash-outline"></ion-icon>
                                </button>
                            </ion-buttons>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-card-content>

        </ion-card>
    </div>

    <div *ngIf="!products?.length">
        <h2 text-center>Wishlist is empty</h2>
    </div>
</ion-content>