<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
    <ion-navbar hideBackButton>
        <ion-buttons left>
            <button ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            {{heading_title}}
        </ion-title>
    </ion-navbar>
    <ion-toolbar>
        <ion-searchbar start round placeholder="Search Products" [(ngModel)]="searchInput" [showCancelButton]="shouldShowCancel"
            (search)="onSearch($event)" (ionCancel)="onSearchCancel($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content #pageContent fullscreen>

    <ion-buttons text-center>
        <button ion-button (click)="presentLimitActionSheet($event)">
            Limit&nbsp;
            <ion-icon name="md-funnel"></ion-icon>
        </button>
        <button ion-button (click)="presentSortActionSheet($event)">
            Sort&nbsp;
            <ion-icon name="ios-funnel-outline"></ion-icon>
        </button>
    </ion-buttons>

    <ion-grid>
        <ion-row>
            <ion-col id="productdec" col-6 *ngFor="let product of productModel;">
                <ion-card class="product" (click)="getProductDetail(product)">
                    <div>
                        <img src="{{product.thumb}}" width="50%" height="50%">
                    </div>

                    <ion-card-content>
                        <ion-card-title>
                            {{product.name}}
                        </ion-card-title>

                        <ion-row no-padding>
                            <ion-col>
                                <div *ngIf="product.special !=false; then specialprice else price"></div>

                                <ng-template #price>
                                    <p>{{product.price}}</p><img style="float:right;" id="vegimg" src="{{product.vegsignimage}}">
                                </ng-template>

                                <ng-template #specialprice>
                                    <del>{{product.price}}</del>
                                    <p>{{product.special}}</p>
                                </ng-template>
                            </ion-col>
                            <!-- <ion-col text-center>
                                <span *ngIf="product.discountrate" class="discount-off">{{product.discountrate}} % Off</span>
                            </ion-col> -->
                        </ion-row>

                        <ion-row no-padding>
                            <ion-col>
                                <img id="offerimg" src="{{product.offerimage}}">
                            </ion-col>
                        </ion-row>

                        <div *ngIf="onRateChange(product.rating)"></div>
                        <rating [(ngModel)]="rateValue" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
                            nullable="false"></rating>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div *ngIf="isInfinite">
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>